// SIMAI Framework
// https://simai.io

// TYPOFRAPHY CSS

// Set text variables
:root {

	// 
	--sf-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--sf-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--sf-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	// Text margin end default variable
	// --sf-text--margin-end-default: var(--sf-text--size-2);

	// Text size variables
	// Text size have differents value for desktop and mobile devices
	@each $breakpoint in map-keys($breakpoint-device-array) {
		@include breakpoint-device-media($breakpoint) {
			@each $text-size-level, $text-size in map-get($text-size-array, $breakpoint) {
				--sf-text--size-#{$text-size-level}: var(--sf-#{$text-size});
			}

		}
	}
	
	// Text height variables
	// Text height have differents value for desktop and mobile devices
	@each $breakpoint in map-keys($breakpoint-device-array) {
		@include breakpoint-device-media($breakpoint) {
			@each $text-height-level, $text-height in map-get($text-height-array, $breakpoint) {
				--sf-text--height-#{$text-height-level}: var(--sf-#{$text-height});
			}
		}
	}

	@each $breakpoint in map-keys($breakpoint-device-array) {
		@include breakpoint-device-media($breakpoint) {
			@each $title-height-level, $title-height in map-get($title-height-array, $breakpoint) {
				--sf-title--height-#{$title-height-level}: var(--sf-#{$title-height});
			}
		}
	}

	// Label Text Size
	--sf-label-small--size: var(--sf-text--size-1\/4);
	--sf-label-medium--size: var(--sf-text--size-1\/3);
	--sf-label-large--size: var(--sf-text--size-1\/2);

	// Label Text Height
	--sf-label-small--height: var(--sf-text--height-1\/4);
	--sf-label-medium--height: var(--sf-text--height-1\/3);
	--sf-label-large--height: var(--sf-text--height-1\/2);

	// Body Text
	--sf-text-small--size: var(--sf-text--size-1\/2);
	--sf-text-medium--size: var(--sf-text--size-1);
	--sf-text-large--size: var(--sf-text--size-2);

	// Body Text Height
	--sf-text-small--height: var(--sf-text--height-1\/2);
	--sf-text-medium--height: var(--sf-text--height-1);
	--sf-text-large--height: var(--sf-text--height-2);

	// Headings Variables
	--sf-heading--font-family: inherit;
	--sf-heading--font-weight: 600;
	--sf-heading--font-style: normal;

	@each $heading-var, $heading-value in $heading-size-array {
		--sf-heading-#{$heading-var}--size: var(--sf-text--size-#{$heading-value});
	}

	@each $heading-height-var, $heading-height-value in $heading-height-array {
		--sf-heading-#{$heading-height-var}--height: var(--sf-title--height-#{$heading-height-value});
	}

	// Display Text Size
	@each $display-var, $display-value in $display-text-array {
		--sf-display-#{$display-var}--size: var(--sf-text--size-#{$display-value});
	}

	// Display Text Height
	@each $display-height-var, $display-height-value in $display-height-array {
		--sf-display-#{$display-height-var}--height: var(--sf-title--height-#{$display-height-value});
	}

	// 
	--sf-text--space-bottom: var(--sf-space-1);
	--sf-heading--space-top: var(--sf-space-4);
	--sf-heading--space-bottom: var(--sf-space-1);

	// 
	--sf-text--family: "Inter", sans-serif;
	--sf-heading--family: "Inter", sans-serif;
	--sf-display--family: "Inter", sans-serif;

	// Default text variables
	--sf-text--size: var(--sf-text-medium--size);
	--sf-text--height: var(--sf-text-medium--height);
	--sf-text--family: inherit;
	--sf-text--weight: 400; //var(--sf-text--font-weight-regular);
	--sf-heading--weight: 700;
	--sf-display--weight: 300;
	--sf-text--style: inherit;
	--sf-text--tracking: inherit;
	--sf-mark--color: var(--sf-warning-transparent-overlay);
	--sf-code--color: var(--sf-tertiary);
	--sf-code--background: var(--sf-tertiary-container);
	--sf-code--font-family: var(--sf-mono);
	--sf-code--radius: var(--sf-radius-1\/3);

	// Relative line height variables
	@each $line-height-name, $line-height-value in $line-height-array {
		--sf-text--line-height-#{$line-height-name}: #{$line-height-value};
	}	

	// Font weight variables
	@each $font-weight-name, $font-weight-value in $font-weight-array {
		--sf-text--font-weight-#{$font-weight-name}: #{$font-weight-value};
	}

	// Text tracking utilities variables
	@each $tracking-name, $tracking-value in $letter-spacing-array {
		--sf-text--tracking-#{$tracking-name}: #{$tracking-value};
	}
	
	// Text measure utilities variables
	@each $measure-name, $measure-value in $text-measure-array {
		--sf-text--measure#{$measure-name}: #{$measure-value};
	}

	// Text default properties

	font-style: var(--sf-text--style);
	font-size: var(--sf-text--size);
	line-height: var(--sf-text--height);
	font-weight: var(--sf-text--weight);
	font-family: var(--sf-text--family);
	letter-spacing: var(--sf-text--tracking);
	text-decoration-color: var(--sf-outline);
	// font-family: var(--sf-text--family);
}

// Content settings
p, table, ol, ul, q, blockquote {
	margin-bottom: var(--sf-text--space-bottom); //var(--sf-text--margin-end-default);
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: var(--sf-heading--space-bottom);
}

h2, h3, h4, h5, h6 {
	margin-top: var(--sf-heading--space-top);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
	font-family: var(--sf-heading--family);
	font-weight: var(--sf-heading--weight);
}

.d1, .d2, .d3, .d4, .d5, .d6,
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
	font-family: var(--sf-display--family);
	font-weight: var(--sf-display--weight);
	
}

.label-small {
	font-size: var(--sf-label-small--size);
	line-height: var(--sf-label-small--height);
}

.label, .label-medium {
	font-size: var(--sf-label-medium--size);
	line-height: var(--sf-label-medium--height);
}

.label-large {
	font-size: var(--sf-label-large--size);
	line-height: var(--sf-label-large--height);
}

.text-small {
	font-size: var(--sf-text-small--size);
	line-height: var(--sf-text-small--height);
}

.text, .text-medium {
	font-size: var(--sf-text-medium--size);
	line-height: var(--sf-text-medium--height);
}

.text-large {
	font-size: var(--sf-text-large--size);
	line-height: var(--sf-text-large--height);
}

@for $k from 1 through 6 {
	h#{$k}, .h#{$k}, .heading-#{$k} {
		font-size: var(--sf-heading-#{$k}--size);
		line-height: var(--sf-heading-#{$k}--height);
	}
}

@for $k from 1 through 6 {
	.d#{$k}, .display-#{$k} {
		font-size: var(--sf-display-#{$k}--size);
		line-height: var(--sf-display-#{$k}--height);
	}
}

// @include layer-priority(base,default) {

	// List settings
	ul {
		display: block;
		list-style-type: disc;
		list-style-position: outside;
		margin-block-start: var(--sf-text--size-2);
		// margin-block-end: var(--sf-text--size-2);
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-left: var(--sf-text--size-2);
	}

	// Code Settings
	code {
		font-weight: var(--sf-text--weight-regular);
		color: var(--sf-color--text-primary);
	}
// }