// SIMAI Framework
// https://simai.io

// MAIN
// Typography Variable

$font-size-base: map-get(map-get($size-array,c),1);


// Array Font Size for mobile and desctop divices
// Text sizes for mobile device smaller dektop
$text-size-array:(
	mobile: (
		"1\\/7":	"a4",
		"1\\/6":	"a6",
		"1\\/5":	"a8",
		"1\\/4":    "b0", 
		"1\\/3":    "b2",
		"1\\/2":    "b2",
		1:          "b4",
		2:          "b6",
		3:          "b8",
		4:          "c0",
		5:          "c1",
		6:          "c2",
		7:          "c4",
		8:          "c6",
		9:          "c8",	 	 
		10:         "d0",
		11:         "d1",
		12:         'd2',					
	),
	desktop: (
		"1\\/7":	"a4",
		"1\\/6":	"a6",
		"1\\/5":	"a8",
		"1\\/4":    "b0",
		"1\\/3":    "b2",
		"1\\/2":    "b4",
		1:          "b6",
		2:          "c0",
		3:          "c2",
		4:          c4,
		5:          c6,
		6:          c8,
		7:          d0,
		8:          d2,
		9:          d4,	 	 
		10:         d6,
		11:         e0,
		12:         e2,		 
	)
) !default;	

$text-height-array:(
	mobile: (
		"1\\/4":    b2,
		"1\\/3":    b6,
		"1\\/2":    b6,
		1:          c0,
		2:          c2,
		3:          c2,
		4:          c4,
		5:          c6,
		6:          c8,
		7:          d0,
		8:          d2,
		9:          d3,	 	 
		10:         d5,
		11:         d6,
		12:         d8,
	),
	desktop: (
		"1\\/4":    b2,
		"1\\/3":    b6,
		"1\\/2":    c0,
		1:          c2,
		2:          c4,
		3:          c8,
		4:          d0,
		5:          d2,
		6:          d3,
		7:          d7,
		8:          d8,
		9:          e0,	 	 
		10:         e2,
		11:         e3,
		12:         e5,		 
	)
) !default;

$title-height-array:(
	mobile: (
		1:          b6,
		2:          b6,
		3:          c0,
		4:          c2,
		5:          c2,
		6:          c4,
		7:          c6,
		8:          c8,
		9:          d0,	 	 
		10:         d2,
		11:         d3,
		12:         d4,
	),
	desktop: (
		1:          b6,
		2:          c2,
		3:          c4,
		4:          c6,
		5:          c8,
		6:          d0,
		7:          d2,
		8:          d4,
		9:          d6,	 	 
		10:         d9,
		11:         e0,
		12:         e2,		 
	)
) !default;	