// SIMAI Framework
// https://simai.io

// BREAKPOUNTS VARIABLES

// Breakpoint array
$breakpoint-array: (
	xs: 0,
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px,
);

// Destop breakpoint begin
// This need for separate mobile and desktop breakpoints
$breakpoint-desktop: map-get($breakpoint-array, lg);

// Device breakpoint array
// For variable which change value for mobile and desktop devices
$breakpoint-device-array: (
	mobile: 0,
	desktop: $breakpoint-desktop
);
