// SIMAI Framework
// https://simai.io

// LINK VARIABLES

$link-color-array: (
	hover: var(--sf-link-hover),
	active: var(--sf-link-active),
	visited: var(--sf-link-visited),
);

$link-underline-array: (
	hover: var(--sf-link-hover),
	active: var(--sf-link-active),
	visited: var(--sf-link-visited),
);