// SIMAI Framework
// https://simai.io

// COLOR CSS VARIABLES

:root,::after,::before {

    // Transparent Color
    --sf-transparent: rgba(0,0,0,0);
    --sf-inherit: inherit;
    --sf-current: currentColor;
    --sf-white: rgba(255, 255, 255, 1);
    --sf-black: rgba(0, 0, 0, 1);

    // Border Variables
    // --sf-border--width: 0;
    // --sf-border--style: solid;
    // --sf-border--color: var(--sf-transparent);

    // Default Border Property
    // border: var(--sf-border--width) var(--sf-border--style) var(--sf-border--color);

    --sf-ring-inset: ;
    --sf-ring-offset-shadow: 0 0 #0000;
    --sf-ring-offset-width: var(--sf-a2);
    --sf-ring-offset-color: #fff;
    --tw-ring-offset-shadow: 0 0 #0000;

    @each $color-name, $color-range in $color-array-v53 {
        @each $color-tone, $color in $color-range {
            --sf-#{$color-name}-#{$color-tone}: #{$color};
        }
    }
}

body {
    --sf-stripe--color: var(--sf-color--surface-inverse);
}