// SIMAI Framework
// https://simai.io

// SIZE CSS VARIABLES

// Set CSS variable for all items in all size ranges 
:root
{
    // Zerro Size
	--sf-0: 0rem;			
	
	// Pixel Size
	--sf-px: 1px;

	// Auto Size
	--sf-auto: auto;
	
	// Set Size CSS Variables
	@each $size-range-name, $range-array in $size-array {
		@each $size-name, $size-value in $range-array {
			--sf-#{$size-range-name}#{$size-name}: #{$size-value};		
		}
	}

	@each $z-index-name, $z-index-value in $z-index-array {
        --sf-z-index-#{$z-index-name}: #{$z-index-value};
    }
}